.App {
  text-align: center;
}

.room-list{
  float: left;
  width: 20%;
  background-color: grey;
  height: 32em;
  text-align: center;

}

.room-num {
  border: 0px solid black;
  margin-left: 15%;
  margin-right: 18%;
  text-align: left;
  padding-top: 5%;

}
